# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\amilm\OneDrive - Sarajevo School of Science and Technology\Documents\SSST, fourth year\Artificial Intelligence\Programming assignemnts\TicTacToe\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
